<%- include('header'); -%>
<div class="container-fluid">
    <div class="col-md-12 pt-1 my-1 bg-dark text-white">
        <h2>Home Page</h2>
        <p>This is some text.</p>
    </div>
</div>
<%- include('footer'); -%>