<%- include('header'); -%>
<div class="container-fluid">
    <div class="col-md-12 pt-1 my-1 bg-dark text-white">
        
        <!-- head option -->
        <div class="row">
          <div class="col-md-8">
            <h2>Users page</h2>
          </div>
          <div class="col-md-4">
            <button class="btn btn-success float-right" onclick="location.href='users/add-user'">Add User</button>
          </div>
          
        </div>
        
        <p>This is some text.</p>
    </div>
</div>
<%- include('footer'); -%>